<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/jpg" href="../static/images/favicon.jpg"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    </head>
    <title>Lost Meadow | About Us</title>
    <body>
        <div class="navbar">
            <nav class="navbar-inner border-bottom">
                <nav class="navbar navbar-light">
                    <a class="brand" href="/">lostmeadow</a>
                    <ul class="list-inline">
                        <a class="btn btn-md btn-outline-secondary" href="/about">about</a>
                        <a class="btn btn-md btn-outline-secondary" href="/blog">blog</a>
                        <a class="btn btn-md btn-outline-secondary" href="/privacy">privacy</a>
                    </ul>
                </nav>
            </nav>
        </div>
	<header>
		<h1>About Us</h1>
	</header>
	<main class="about-us">
		<h2>Our Mission</h2>
		<p>Welcome to Lost Meadow, your trusted companion in the world of wildflowers. Our mission is to empower people everywhere to recognise, appreciate, and protect the diverse array of wildflowers that serve as vital resources for our precious pollinators.</p>
        <p>Why do we exist? Our passion for preserving the delicate balance of nature has led us to develop this user-friendly web app, designed to make the identification of wildflowers both enjoyable and easy. With our app, you'll be able to easily recognise the wildflowers that pollinators rely on, ensuring that you won't inadvertently damage or remove these essential blooms.</p>
        <p>Pollinators, such as bees, butterflies, and birds, play a crucial role in maintaining the health of ecosystems and the food we consume. By fostering an awareness of the wildflowers these creatures depend on, we aim to create a deeper connection between humans and the natural world. This connection is essential for the long-term survival of pollinators and the countless plants they help to propagate.</p>
        <p>Our easy-to-use web app provides users with the tools needed to identify wildflowers, and we hope that this confidence inspire a sense of responsibility and stewardship for these beautiful and ecologically significant plants.</p>
        <p>Together, we can make a difference in preserving our planet's rich biodiversity and protecting the pollinators that play such a vital role in our world. Join us on this journey and start discovering the wonders of wildflowers today!</p>
        <p>At Lost Meadow, we believe that knowledge is the key to conservation. By raising awareness about the importance of wildflowers and their role in supporting pollinators, we can encourage a more eco-conscious approach to our interactions with nature. Whether you're a budding naturalist, a seasoned botanist, or simply someone who appreciates the beauty of the outdoors, our web app is tailored to meet your needs and spark your curiosity.</p>
        <p>As you embark on your wildflower adventures, remember that even small actions can have a significant impact. By learning to recognise and appreciate the wildflowers that pollinators love, you can help ensure that these plants continue to thrive and support the intricate web of life they are part of.</p>
        <p>We invite you to explore our web app, share your discoveries with friends and family, and join us in our mission to preserve the wildflowers and pollinators that make our world a more vibrant and sustainable place.</p>
        <p>Together, let's cultivate a future where both humans and nature can flourish. Thank you for being part of the community and changing lost meadows to found meadows.</p>
	</main>
    <footer>
        <p class="footer-text">&copy; 2024 LostMeadow. All rights reserved.</p>
    </footer>
</body>
</html>