<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/jpg" href="../static/images/favicon.jpg"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    </head>
	<title>Lost Meadow | Privacy Policy</title>
    <body>
        <div class="navbar">
            <nav class="navbar-inner border-bottom">
                <nav class="navbar navbar-light">
                    <a class="brand" href="/">lostmeadow</a>
                    <ul class="list-inline">
                        <a class="btn btn-md btn-outline-secondary" href="/about">about</a>
                        <a class="btn btn-md btn-outline-secondary" href="/blog">blog</a>
                        <a class="btn btn-md btn-outline-secondary" href="/privacy">privacy</a>
                    </ul>
                </nav>
            </nav>
        </div>
    <header>
		<h1>Privacy Policy</h1>
	</header>
    <main class="about-us">
        <h2>Effective Date: March 2023</h2>
        <p>At Lost Meadow, your privacy is our top priority. We have developed this Privacy Policy to outline how we collect, use, and protect your personal information when you use our web app. By using our web app, you agree to the collection and use of information in accordance with this policy.</p>
        <h3>1. Information Collection and Use</h3>
        <p>When you use our web app to upload an image for wildflower identification, we temporarily collect the image file you provide. The primary purpose of collecting this information is to analyse the image using our neural network and provide you with accurate wildflower identification results. We do not collect any additional personal information when you use our web app.</p>
        <h3>2. Data Protection</h3>
        <p>We implement a variety of security measures to maintain the safety of your personal information. We are committed to ensuring that your information is protected from unauthorized access, alteration, disclosure, or destruction during the wildflower identification process.</p>
        <h3>3. Retention and Deletion</h3>
        <p>We do not store any images on our servers. Once the images have finished being classified and you move on from the website, the images are immediately discarded and not retained in any form. This ensures that your privacy is protected and that the data is not used for any other purposes.</p>
        <h3>4. No Cookies or Caching</h3>
        <p>Our web app does not use cookies or cache any images. We respect your privacy and aim to provide a seamless experience without storing any data on your device or browser.</p>
        <h3>5. Data Sharing and Disclosure</h3>
        <p>We value your trust and will never sell, trade, or otherwise transfer your uploaded images to any third parties. As we do not store your images on our servers or cache them, there is no possibility of your images being accessed or shared beyond the scope of the wildflower identification process.</p>
        <h3>6. Changes to This Privacy Policy</h3>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. Changes to this Privacy Policy are effective when they are posted on this page. It is your responsibility to review this Privacy Policy periodically for any updates.</p>
        <h3>7. Contact Us</h3>
        <p>If you have any questions or concerns about our Privacy Policy, please do not hesitate to contact us. We will make every effort to address your concerns and provide any necessary clarifications.</p>
        <p>Your privacy is our utmost concern, and we are committed to providing a secure and transparent experience while using our web app. Thank you for choosing Lost Meadow for your wildflower identification needs, and we hope you enjoy discovering the wonders of nature with us.</p>
    </main>
    <footer>
        <p class="footer-text">&copy; 2023 LostMeadow. All rights reserved.</p>
    </footer>
</body>
</html>
